<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <header>
        <h1 class="mb-3">
            Welcome to my first site
        </h1>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        &copy; @DateTime.Today.Year
    </footer>
</body>
</html>